body {
    font-family: '1942 report';
    background-color: #a7cff0;
}
/* header */
.container {
    max-width: 1170px;
    margin: 20px;
    border-width: 4px;
    border-style:outset;
}
.logo {
    width: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.justify-content-between{
   justify-content: space-between;  
}
.nav {
    background-color: blanchedalmond;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.header .nav ul li a{
    display: block;
    font-size: 16px;
    color: #0a0a0a;
    text-transform: capitalize;
    padding: 10px 0;
    transition: all 0.5s ease;
}
.header .nav ul li a:active {
    color: rgb(70, 4, 4);
}
.header .nav ul li a:hover{
    color: #2b0cdb;
}
/* footer */
.fl1 {
    width: 30px;
}
.footer{
    padding-bottom: 40px;
    background-color: rgb(36, 35, 35);
    margin: o auto;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.logo-soc {
    align-items: center;
}